<!-- about_us.html: Muestra información del ITAIH así como su consejo general  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/about_us.css" rel="stylesheet"/>
  <title>Acerca de nosotros</title>
  <meta charset="UTF-8">
</head>

<body>

<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html#">Inicio</a></li>
      <li><a href="home.html#cards">Normativas</a></li>
      <li><a href="home.html#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">
    <div class="txt_welcome">
      <h2 class="h2_welcome">ITAIH</h2>
      <h3>Instituto de Transparencia, Acceso a la Información Pública Gubernamental y Protección de Datos Personales del
        Estado de Hidalgo</h3>
      <p>
        <br>
        Es un organismo autónomo, especializado, independiente, imparcial y colegiado, con personalidad jurídica y
        patrimonio propios, con autonomía técnica y de gestión con capacidad para decidir sobre el ejercicio de su
        presupuesto y determinar su organización interna, responsable de garantizar, en el ámbito de su competencia, el
        ejercicio de los derechos de acceso a la información y la protección de datos personales, conforme a los
        principios y bases establecidos por los artículos 6° de la Constitución Política de los Estados Unidos
        Mexicanos, 4° bis de la Constitución Política del Estado de Hidalgo, así como lo previsto en la Ley General de
        Transparencia y Acceso a la Información Pública y demás disposiciones aplicables.</p>
      <div class="div-bt-wl">
        <a href="https://www.itaih.org.mx/index.html" target="_blank">
          <button class="bt_welcome">Pagina Oficial</button>
        </a>
      </div>
      <div class="div-img-wl"><img src="/images/comisionados.png" alt="Imagen de ejemplo" class="example-image">
      </div>
    </div>

  </section>


  <div class="title-cards_div">
    <h2>Consejo General</h2>
  </div>

  <section class="cards_section">

    <div class="card">
      <h2 class="card-title">Comisionada</h2>
      <p class="card-description">L.A. Evelia Elizabeth Monribot Domínguez</p>
      <img src="/images/Elizabeth.png" class="img_card">
    </div>

    <div class="card">
      <h2 class="card-title">Comisionada</h2>
      <p class="card-description">Mtra. Myrna Rocío Moncada Mahuem</p>
      <img src="/images/Presidenta2.jpg" class="img_card">
    </div>

    <div class="card">
      <h2 class="card-title">Comisionado</h2>
      <p class="card-description">Mtro. Luis Ángel Hernández Ríos</p>
      <img src="/images/angel2.png" class="img_card">
    </div>


  </section>

  <div style="text-align: center; font-size: 0.8em; color: #777;">
    <p> Desarrollado por Leonardo Chavez Mendez como parte del servicio social en el Instituto de Transparencia, Acceso
      a la Información Pública Gubernamental y Protección de Datos Personales del Estado de Hidalgo.</p>
  </div>

</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
