<!-- eval3.html: Contiene la tercera sección de la evaluación  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/eval1.css" rel="stylesheet"/>
  <title>Evaluación 3</title>
  <meta charset="UTF-8">
</head>

<body>


<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html#">Inicio</a></li>
      <li><a href="home.html#cards">Normativas</a></li>
      <li><a href="home.html#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">

    <div class="txt_welcome">

      <h2 class="h2_welcome">Sección 3: Vulneraciones de Seguridad</h2>
      <h3>Conjunto de acciones, actividades, controles o mecanismos administrativos, técnicos y físicos que permiten
        garantizar la protección, confidencialidad, disponibilidad e integridad de los datos personales.</h3>
      <br>

      <form id="form1">

        <h4>Pregunta 12. En cualquier fase del tratamiento de datos personales se realizan acciones correctivas o se
          cuenta con protocolos de actuación cuando se vulnera la seguridad de ellos en los siguientes casos:</h4>

        <p>I. La pérdida o destrucción no autorizada.</p>

        <div id="contenedor1" class="contenedor"></div>

        <p>II. El robo, extravío o copia no autorizada.</p>

        <div id="contenedor2" class="contenedor"></div>

        <p>III. El uso, acceso o tratamiento no autorizado.</p>

        <div id="contenedor3" class="contenedor"></div>

        <p>IV. El daño, la alteración o modificación no autorizada.</p>

        <div id="contenedor4" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 13. El responsable cuenta con una bitácora de las vulneraciones a la seguridad ocurridas en la que
          se describa: (En caso de no contar con vulneración ocurridas deberá contar al menos con el formato)</h4>

        <p>I. La fecha en la que ocurrió.</p>

        <div id="contenedor5" class="contenedor"></div>

        <p>II. El motivo de la vulneración de seguridad.</p>

        <div id="contenedor6" class="contenedor"></div>

        <p>III. Las acciones correctivas implementadas de forma inmediata y definitiva.</p>

        <div id="contenedor7" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 14. El responsable ha realizado las siguientes acciones sobre las vulneraciones de seguridad a la
          protección de datos personales que han ocurrido en la Institución que de forma significativa afecten los
          derechos patrimoniales o morales del titular o cuenta con un protocolo de actuación donde se especifiquen los
          siguientes:</h4>

        <p>I. Informar sin dilación alguna, al titular y al ITAIH las vulneraciones de seguridad ocurridas, en un plazo
          máximo de setenta y dos horas en cuanto se confirmen.</p>

        <div id="contenedor8" class="contenedor"></div>

        <p>II. Tomar las acciones encaminadas a detonar un proceso de revisión exhaustiva de la magnitud de la
          afectación, a fin de que los titulares afectados puedan tomar las medidas correspondientes para la defensa de
          sus derechos.</p>

        <div id="contenedor9" class="contenedor"></div>

        <p>III. Informar al titular y al ITAIH la naturaleza del incidente.</p>

        <div id="contenedor10" class="contenedor"></div>

        <p>IV. Informar al titular y al ITAIH, al menos, los datos personales comprometidos.</p>

        <div id="contenedor11" class="contenedor"></div>

        <p>V. Informar al titular y al ITAIH, al menos, las recomendaciones y medidas que el titular puede adoptar para
          proteger sus intereses.</p>

        <div id="contenedor12" class="contenedor"></div>

        <p>VI. Informar al titular y al ITAIH, al menos, las acciones correctivas realizadas de forma inmediata.</p>

        <div id="contenedor13" class="contenedor"></div>

        <p>VII. Informar al titular y al ITAIH, al menos, los medios donde puede obtener mayor información al
          respecto.</p>

        <div id="contenedor14" class="contenedor"></div>

        <p>VIII. Analizar las causas por las cuales se presentó e implemente en su plan de trabajo las acciones
          preventivas y correctivas para adecuar las medidas de seguridad y el tratamiento de los datos personales si
          fuese el caso, a efecto de evitar que la vulneración se repita.</p>

        <div id="contenedor15" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 15. Se cuenta con controles o mecanismos de confidencialidad sobre el tratamiento de los datos
          personales donde se incluyan los siguientes supuestos:</h4>

        <p>I. El responsable establezca que todas aquellas personas que intervengan en cualquier fase del tratamiento de
          los datos personales, guarden confidencialidad respecto de éstos.</p>

        <div id="contenedor16" class="contenedor"></div>

        <p>II. El responsable establece que todas aquellas personas que intervinieron en cualquier fase del tratamiento
          de los datos personales, guarden confidencialidad después de finalizar sus relaciones con el mismo.</p>

        <div id="contenedor17" class="contenedor"></div>

        <br>

        <div class="buttons">
          <button type="button" id="saveAndExitButton" class="bt_exit">Guardar y salir</button>
          <button type="button" id="saveAndContinueButton" class="bt_continue">Guardar y continuar</button>
        </div>

      </form>

      <script src="/js/eval3.js"></script>
      <script src="/js/questions.js"></script>


    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
