<!-- eval4.html: Contiene la cuarta sección de la evaluación  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/eval1.css" rel="stylesheet"/>
  <title>Evaluación 4</title>
  <meta charset="UTF-8">
</head>

<body>


<header>
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" class="logo_header">
    <h1 class="main-title_header">Plataforma de evaluación para medir el grado de madurez<br> en materia de datos
      personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html">Inicio</a></li>
      <li><a href="profile.html">
        <button class="bt_nav">Perfil</button>
      </a></li>
    </ul>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">

    <div class="txt_welcome">

      <h2 class="h2_welcome">Sección 4: Aviso de Privacidad</h2>
      <h3>Conjunto de acciones, actividades, controles o mecanismos administrativos, técnicos y físicos que permiten
        garantizar la protección, confidencialidad, disponibilidad e integridad de los datos personales.</h3>
      <br>

      <form id="form1">

        <h4>Pregunta 16. En el aviso de privacidad considera los siguientes aspectos: </h4>

        <p>I. La existencia y características principales del tratamiento al que serán sometidos sus datos
          personales.</p>

        <div id="contenedor1" class="contenedor"></div>

        <p>II. Informar al titular sobre los alcances y condiciones generales del tratamiento, a fin de que esté en
          posibilidad de tomar decisiones informadas sobre el uso de sus datos personales y, en consecuencia, mantener
          el control y disposición sobre ellos.</p>

        <div id="contenedor2" class="contenedor"></div>

        <p>III. Ser sencillo, con información necesaria, expresado en lenguaje claro y comprensible, y con una
          estructura y diseño que facilite su entendimiento.</p>

        <div id="contenedor3" class="contenedor"></div>

        <p>IV. Cuando el responsable pretende tratar los datos personales para una finalidad distinta, pone a su
          disposición un nuevo aviso de privacidad con las características del nuevo tratamiento previo al
          aprovechamiento de los datos personales para la finalidad respectiva.</p>

        <div id="contenedor4" class="contenedor"></div>

        <p>V. Valerse de formatos físicos, electrónicos, medios verbales o cualquier otra tecnología, para su difusión,
          siempre y cuando garantice y cumpla con el principio de información a que se refiere la Ley.</p>

        <div id="contenedor5" class="contenedor"></div>

        <p>VI. Cuando resulte imposible dar a conocer al titular el aviso de privacidad de manera directa o ello exija
          esfuerzos desproporcionados, el responsable instrumente medidas compensatorias de comunicación masiva.</p>

        <div id="contenedor6" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 17. En el aviso de privacidad no se incluyen: </h4>

        <p>I. Frases inexactas, ambiguas o vagas.</p>

        <div id="contenedor7" class="contenedor"></div>

        <p>II. Textos o formatos que induzcan al titular a elegir una opción en específico.</p>

        <div id="contenedor8" class="contenedor"></div>

        <p>III. Marcar previamente casillas, en caso de que éstas se incluyan para que el titular otorgue su
          consentimiento.</p>

        <div id="contenedor9" class="contenedor"></div>

        <p>IV. Remitir a textos o documentos que no estén disponibles para el titular.</p>

        <div id="contenedor10" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 18. El aviso simplificado contiene al menos la siguiente información:</h4>

        <p>I. La denominación del responsable.</p>

        <div id="contenedor11" class="contenedor"></div>

        <p>II. Las finalidades del tratamiento para las cuales se obtienen los datos personales, distinguiendo aquéllas
          que requieran el consentimiento del titular.</p>

        <div id="contenedor12" class="contenedor"></div>

        <p>III. Cuando se realicen transferencias de datos personales que requieran consentimiento, se informa a las
          autoridades, poderes, entidades, órganos y organismos gubernamentales de los tres órdenes de gobierno y las
          personas físicas o morales de carácter privado a las que se transfieren los datos personales.</p>

        <div id="contenedor13" class="contenedor"></div>

        <p>IV. Cuando se realicen transferencias de datos personales que requieran consentimiento se informen las
          finalidades de estas transferencias.</p>

        <div id="contenedor14" class="contenedor"></div>

        <p>V. Los mecanismos y medios disponibles para que el titular, en su caso, pueda manifestar su negativa para el
          tratamiento de sus datos personales para finalidades y transferencias de datos personales que requieren el
          consentimiento del titular.</p>

        <div id="contenedor15" class="contenedor"></div>

        <p>VI. El sitio donde se podrá consultar el aviso de privacidad integral.</p>

        <div id="contenedor16" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 19. El responsable pone a disposición del titular el aviso de privacidad simplificado en los
          siguientes momentos: </h4>

        <p>I. Cuando los datos personales se obtienen de manera directa del titular previo a la obtención de los
          mismos.</p>

        <div id="contenedor17" class="contenedor"></div>

        <p>II. Cuando los datos personales se obtienen de manera indirecta del titular previo al uso o aprovechamiento
          de éstos.</p>

        <div id="contenedor18" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 20. El aviso integral contiene al menos la siguiente información:</h4>

        <p>I. El domicilio del responsable.</p>

        <div id="contenedor19" class="contenedor"></div>

        <p>II. Los datos personales que serán sometidos a tratamiento, identificando aquéllos que sean sensibles.</p>

        <div id="contenedor20" class="contenedor"></div>

        <p>III. El fundamento legal que faculta expresamente al responsable para llevar a cabo el tratamiento de datos
          personales.</p>

        <div id="contenedor21" class="contenedor"></div>

        <p>IV. El fundamento legal que faculta expresamente al responsable para llevar a cabo las transferencias de
          datos personales que, en su caso, efectúe con autoridades, poderes, entidades, órganos y organismos
          gubernamentales de los tres órdenes de gobierno y las personas físicas o morales de carácter privado.</p>

        <div id="contenedor22" class="contenedor"></div>

        <p>V. Los mecanismos, medios y procedimientos disponibles para ejercer los derechos ARCO.</p>

        <div id="contenedor23" class="contenedor"></div>

        <p>VI. El domicilio de la Unidad de Transparencia.</p>

        <div id="contenedor24" class="contenedor"></div>

        <p>VII. Los medios a través de los cuales el responsable comunicará a los titulares los cambios al aviso de
          privacidad.</p>

        <div id="contenedor25" class="contenedor"></div>

        <br>

        <div class="buttons">
          <button type="button" id="saveAndExitButton" class="bt_exit">Guardar y salir</button>
          <button type="button" id="saveAndContinueButton" class="bt_continue">Guardar y continuar</button>
        </div>

      </form>

      <script src="/js/eval4.js"></script>
      <script src="/js/questions.js"></script>


    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
