<!-- eval5.html: Contiene la quinta sección de la evaluación  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/eval1.css" rel="stylesheet"/>
  <title>Evaluación 5</title>
  <meta charset="UTF-8">
</head>

<body>


<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html#">Inicio</a></li>
      <li><a href="home.html#cards">Normativas</a></li>
      <li><a href="home.html#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">

    <div class="txt_welcome">

      <h2 class="h2_welcome">Sección 5: Consentimiento Expreso</h2>
      <h3>Conjunto de acciones, actividades, controles o mecanismos administrativos, técnicos y físicos que permiten
        garantizar la protección, confidencialidad, disponibilidad e integridad de los datos personales.</h3>
      <br>

      <form id="form1">

        <h4>Pregunta 21. El responsable cuenta con un formato de consentimiento expreso del titular para el tratamiento
          de sus datos personales el cual se otorga de manera:</h4>

        <p>I. Libre: Sin que medie error, mala fe, violencia o dolo que puedan afectar la manifestación de la voluntad
          del titular.</p>

        <div id="contenedor1" class="contenedor"></div>

        <p>II. Específica: Referida a finalidades concretas, lícitas, explícitas y legítimas que justifiquen el
          tratamiento.</p>

        <div id="contenedor2" class="contenedor"></div>

        <p>III. Informada: Que el titular tenga conocimiento del aviso de privacidad, previo al tratamiento a que serán
          sometidos sus datos personales.</p>

        <div id="contenedor3" class="contenedor"></div>

        <p>IV. Fácil: Por un medio sencillo y gratuito a través del cual pueda manifestar su voluntad.</p>

        <div id="contenedor4" class="contenedor"></div>

        <p>V. Previa: Cuando los recabe directamente es decir cuando éste los proporcione personalmente o por algún
          medio que permita su entrega directa al responsable como son, de manera enunciativa más no limitativa, medios
          electrónicos, ópticos, sonoros, visuales, vía telefónica, Internet o cualquier otra tecnología o medio.</p>

        <div id="contenedor5" class="contenedor"></div>

        <p>VI. Inmediata: Cuando el responsable recabe datos personales indirectamente del titular y se requiera de su
          consentimiento conforme a la Ley, éste no podrá tratar los datos personales hasta que cuente con la
          manifestación de la voluntad libre, específica e informada del titular, mediante la cual autoriza el
          tratamiento de los mismos, ya sea tácita o expresa según corresponda.</p>

        <div id="contenedor6" class="contenedor"></div>

        <p>VII. Expreso y por escrito del Titular para el tratamiento de datos personales sensibles, salvo que actualice
          alguna de las causales de excepción previstas en la Ley.</p>

        <div id="contenedor7" class="contenedor"></div>


        <br>

        <div class="buttons">
          <button type="button" id="saveAndExitButton" class="bt_exit">Guardar y salir</button>
          <button type="button" id="saveAndContinueButton" class="bt_continue">Guardar y continuar</button>
        </div>

      </form>

      <script src="/js/eval5.js"></script>
      <script src="/js/questions.js"></script>


    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
