<!-- eval2.html: Contiene la segunda sección de la evaluación  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/eval1.css" rel="stylesheet"/>
  <title>Evaluación 2</title>
  <meta charset="UTF-8">
</head>

<body>


<header>
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" class="logo_header">
    <h1 class="main-title_header">Plataforma de evaluación para medir el grado de madurez<br> en materia de datos
      personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html">Inicio</a></li>
      <li><a href="profile.html">
        <button class="bt_nav">Perfil</button>
      </a></li>
    </ul>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">

    <div class="txt_welcome">

      <h2 class="h2_welcome">Sección 2: Documento de Seguridad</h2>
      <h3>Conjunto de acciones, actividades, controles o mecanismos administrativos, técnicos y físicos que permiten
        garantizar la protección, confidencialidad, disponibilidad e integridad de los datos personales.</h3>
      <br>

      <form id="form1">

        <h4>Pregunta 10. El responsable cuenta con un documento que contenga las medidas de seguridad de carácter
          físico, técnico y administrativo conforme a lo dispuesto en la Ley y demás disposiciones que resulten
          aplicables en la materia y contiene al menos lo siguiente:</h4>

        <p>I. El nombre de los sistemas de tratamiento o base de datos personales.</p>

        <div id="contenedor1" class="contenedor"></div>

        <p>II. El nombre, cargo y adscripción del administrador de cada sistema de tratamiento y/o base de datos
          personales.</p>

        <div id="contenedor2" class="contenedor"></div>

        <p>III. Las funciones y obligaciones del responsable, encargados y todas las personas que traten datos
          personales.</p>

        <div id="contenedor3" class="contenedor"></div>

        <p>IV. El inventario de los datos personales tratados en cada sistema de tratamiento y/o base de datos
          personales.</p>

        <div id="contenedor4" class="contenedor"></div>

        <p>V. La estructura y descripción de los sistemas de tratamiento y/o bases de datos personales, señalando el
          tipo de soporte y las características del lugar donde se resguardan.</p>

        <div id="contenedor5" class="contenedor"></div>

        <p>VI. Los controles y mecanismos de seguridad para las transferencias que, en su caso, se efectúen.</p>

        <div id="contenedor6" class="contenedor"></div>

        <p>VII. El resguardo de los soportes físicos y/o electrónicos de los datos personales.</p>

        <div id="contenedor7" class="contenedor"></div>

        <p>VIII. Las bitácoras de acceso, operación cotidiana y vulneraciones a la seguridad de los datos
          personales.</p>

        <div id="contenedor8" class="contenedor"></div>

        <p>IX. El análisis de riesgos.</p>

        <div id="contenedor9" class="contenedor"></div>

        <p>X. El análisis de brecha.</p>

        <div id="contenedor10" class="contenedor"></div>

        <p>XI. La gestión de vulneraciones.</p>

        <div id="contenedor11" class="contenedor"></div>

        <p>XII. Las medidas de seguridad físicas aplicadas a las instalaciones.</p>

        <div id="contenedor12" class="contenedor"></div>

        <p>XIII. Los controles de identificación y autenticación de usuarios.</p>

        <div id="contenedor13" class="contenedor"></div>

        <p>XIV. Los procedimientos de respaldo y recuperación de datos personales.</p>

        <div id="contenedor14" class="contenedor"></div>

        <p>XIII. Los controles de identificación y autenticación de usuarios.</p>

        <div id="contenedor15" class="contenedor"></div>

        <p>XIV. Los procedimientos de respaldo y recuperación de datos personales.</p>

        <div id="contenedor16" class="contenedor"></div>

        <p>XV. El plan de contingencia.</p>

        <div id="contenedor17" class="contenedor"></div>

        <p>XVI. Las técnicas utilizadas para la supresión y borrado seguro de los datos personales.</p>

        <div id="contenedor18" class="contenedor"></div>

        <p>XVII. El plan de trabajo.</p>

        <div id="contenedor19" class="contenedor"></div>

        <p>XVIII. Los mecanismos de monitoreo y revisión de las medidas de seguridad.</p>

        <div id="contenedor20" class="contenedor"></div>

        <p>XIX. El programa general de capacitación.</p>

        <div id="contenedor21" class="contenedor"></div>

        <p>XX. Formalmente establecido y es de observancia obligatoria para los encargados y demás personas que realizan
          algún tipo de tratamiento de datos personales.</p>

        <div id="contenedor22" class="contenedor"></div>


        <br>

        <div class="buttons">
          <button type="button" id="saveAndExitButton" class="bt_exit">Guardar y salir</button>
          <button type="button" id="saveAndContinueButton" class="bt_continue">Guardar y continuar</button>
        </div>

      </form>

      <script src="/js/eval2.js"></script>
      <script src="/js/questions.js"></script>


    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
