<!-- eval6.html: Contiene la sexta sección de la evaluación  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/eval1.css" rel="stylesheet"/>
  <title>Evaluación 6</title>
  <meta charset="UTF-8">
</head>

<body>


<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html#">Inicio</a></li>
      <li><a href="home.html#cards">Normativas</a></li>
      <li><a href="home.html#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">

    <div class="txt_welcome">

      <h2 class="h2_welcome">Sección 6: Mejora Continua y Supervisión</h2>
      <h3>Conjunto de acciones, actividades, controles o mecanismos administrativos, técnicos y físicos que permiten
        garantizar la protección, confidencialidad, disponibilidad e integridad de los datos personales.</h3>
      <br>

      <form id="form1">

        <h4>Pregunta 22. El responsable adopta al menos los siguientes mecanismos para cumplir con el principio de
          responsabilidad establecido en la Ley.</h4>

        <p>I. Destina recursos para la instrumentación de programas y políticas de protección de datos personales.</p>

        <div id="contenedor1" class="contenedor"></div>

        <p>II. Revisa periódicamente las políticas y programas de seguridad de datos personales para determinar las
          modificaciones que se requieran.</p>

        <div id="contenedor2" class="contenedor"></div>

        <p>III. Pone en práctica un programa de capacitación y actualización del personal sobre las obligaciones y demás
          deberes en materia de protección de datos personales.</p>

        <div id="contenedor3" class="contenedor"></div>

        <p>IV. Elabora políticas y programas de protección de datos personales obligatorios y exigibles al interior de
          la organización del responsable y las revisa cada dos años, así como se actualizan cuando al tratamiento de
          datos personales se le realizan modificaciones sustanciales.</p>

        <div id="contenedor4" class="contenedor"></div>

        <p>V. Establece un sistema de supervisión y vigilancia interna y/o externa, incluyendo auditorías, para
          comprobar el cumplimiento de las políticas de protección de datos personales y las revisa cada dos años y se
          actualiza cuando al tratamiento de datos personales se le realizan modificaciones sustanciales.</p>

        <div id="contenedor5" class="contenedor"></div>

        <p>VI. Establece procedimientos para recibir y responder dudas y quejas de los titulares.</p>

        <div id="contenedor6" class="contenedor"></div>

        <p>VII. Diseña, desarrolla e implementa sus políticas públicas, programas, servicios, sistemas o plataformas
          informáticas, aplicaciones electrónicas o cualquier otra tecnología que implique el tratamiento de datos
          personales, de conformidad con las disposiciones previstas en la Ley y las demás que resulten aplicables en la
          materia.</p>

        <div id="contenedor7" class="contenedor"></div>

        <p>VIII. Garantiza que sus políticas públicas, programas, servicios, sistemas o plataformas informáticas,
          aplicaciones electrónicas o cualquier otra tecnología que implique el tratamiento de datos personales, cumplan
          por defecto con las obligaciones previstas en la Ley y las demás que resulten aplicables en la materia.</p>

        <div id="contenedor8" class="contenedor"></div>

        <br>

        <div class="buttons">
          <button type="button" id="saveAndExitButton" class="bt_exit">Guardar y salir</button>
          <button type="button" id="saveAndContinueButton" class="bt_continue">Guardar y continuar</button>
        </div>

      </form>

      <script src="/js/eval6.js"></script>
      <script src="/js/questions.js"></script>


    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
