<!-- eval1.html: Contiene la primera sección de la evaluación  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/eval1.css" rel="stylesheet"/>
  <title>Evaluación 1</title>
  <meta charset="UTF-8">
</head>

<body>


<header>
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" class="logo_header">
    <h1 class="main-title_header">Plataforma de evaluación para medir el grado de madurez<br> en materia de datos
      personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html">Inicio</a></li>
      <li><a href="profile.html">
        <button class="bt_nav">Perfil</button>
      </a></li>
    </ul>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">

    <div class="txt_welcome">

      <h2 class="h2_welcome">Sección 1: Medidas de seguridad</h2>
      <h3>Conjunto de acciones, actividades, controles o mecanismos administrativos, técnicos y físicos que permiten
        garantizar la protección, confidencialidad, disponibilidad e integridad de los datos personales.</h3>
      <br>

      <form id="form1">

        <h4>Pregunta 1. Se cuenta con medidas de seguridad físicas adoptadas por el responsable para la protección de
          datos personales en su tratamiento.
          Medidas de seguridad físicas: Conjunto de acciones y mecanismos para proteger el entorno físico de los datos
          personales y de los recursos involucrados en su tratamiento. </h4>

        <p>I. Enlista las medidas de seguridad adoptadas por el responsable de carácter físico para la protección de los
          datos personales, que permitan protegerlos contra daño, pérdida, alteración, destrucción o su uso, acceso o
          tratamiento no autorizado, así como garantizar su confidencialidad, integridad y disponibilidad.</p>

        <div id="contenedor1" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 2. El responsable en las medidas de seguridad físicas considera los siguientes aspectos: </h4>

        <p>I. Acciones y mecanismos para proteger el entorno físico de los datos personales y de los recursos
          involucrados en su tratamiento.</p>

        <div id="contenedor2" class="contenedor"></div>

        <p>II. Prevenir el acceso no autorizado al perímetro de la organización del responsable, sus instalaciones
          físicas, áreas críticas, recursos y datos personales.</p>

        <div id="contenedor3" class="contenedor"></div>

        <p>III. Prevenir el daño o interferencia a las instalaciones físicas, áreas críticas de la organización del
          responsable, recursos y datos personales.</p>

        <div id="contenedor4" class="contenedor"></div>

        <p>IV. Proteger los recursos móviles, portátiles y cualquier soporte físico o electrónico que pudiera salir de
          la organización del responsable.</p>

        <div id="contenedor5" class="contenedor"></div>

        <p>V. Proveer a los equipos que contienen o almacenan datos personales de un mantenimiento eficaz, que asegure
          su disponibilidad e integridad.</p>

        <div id="contenedor6" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 3. Se cuenta con medidas de seguridad técnicas adoptadas por el responsable para la protección de
          datos personales en su tratamiento. Medidas de seguridad técnicas: Conjunto de acciones y mecanismos que se
          valen de la tecnología relacionada con equipos y sistemas informáticos para proteger el entorno digital de los
          datos personales y los recursos involucrados en su tratamiento.</h4>

        <p>I. Enlista las medidas de seguridad adoptadas por el responsable de carácter técnico para la protección de
          los datos personales, que permitan protegerlos contra daño, pérdida, alteración, destrucción o su uso, acceso
          o tratamiento no autorizado, así como garantizar su confidencialidad, integridad y disponibilidad. </p>

        <div id="contenedor7" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 4. El responsable en las medidas de seguridad técnicas considera los siguientes aspectos: </h4>

        <p>I. Acciones y mecanismos que se valen de la tecnología relacionada con equipos y sistemas informáticos para
          proteger el entorno digital de los datos personales y los recursos involucrados en su tratamiento. </p>

        <div id="contenedor8" class="contenedor"></div>

        <p>II. Garantizar que el acceso a los datos personales, así como a los recursos, sea por usuarios identificados
          y autorizados. </p>

        <div id="contenedor9" class="contenedor"></div>

        <p>III. Generar un esquema de privilegios, para que el usuario lleve a cabo las actividades que requiere con
          motivo de sus funciones. </p>

        <div id="contenedor10" class="contenedor"></div>

        <p>IV. Revisar la configuración de seguridad en la adquisición, operación, desarrollo y mantenimiento de los
          equipos y sistemas informáticos. </p>

        <div id="contenedor11" class="contenedor"></div>

        <p>V. Gestionar las comunicaciones, operaciones y medios de almacenamiento de los recursos informáticos en el
          tratamiento de datos personales. </p>

        <div id="contenedor12" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 5. Se cuenta con medidas de seguridad administrativas adoptadas por el responsable para la
          protección de datos personales en su tratamiento.
          Medidas de seguridad administrativas: Políticas y procedimientos para la gestión, soporte y revisión de la
          seguridad de los datos personales a nivel organizacional, la identificación, clasificación y borrado seguro de
          los datos personales, así como la sensibilización y capacitación del personal en materia de protección de
          datos personales. </h4>

        <p>I. Enlista las medidas de seguridad adoptadas por el responsable de carácter administrativo para la
          protección de los datos personales, que permitan protegerlos contra daño, pérdida, alteración, destrucción o
          su uso, acceso o tratamiento no autorizado, así como garantizar su confidencialidad, integridad y
          disponibilidad. </p>

        <div id="contenedor13" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 6. El responsable en las medidas de seguridad administrativas considera los siguientes
          aspectos: </h4>

        <p>I. Políticas y procedimientos para la gestión. </p>

        <div id="contenedor14" class="contenedor"></div>

        <p>II. Soporte y revisión de la seguridad de los datos personales a nivel organizacional. </p>

        <div id="contenedor15" class="contenedor"></div>

        <p>III. La identificación, clasificación y borrado seguro de los datos personales. </p>

        <div id="contenedor16" class="contenedor"></div>

        <p>IV. La sensibilización y capacitación del personal en materia de protección de datos personales. </p>

        <div id="contenedor17" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 7. Las medidas de seguridad físicas, técnicas y administrativas adoptadas por el responsable
          consideran los siguientes aspectos: </h4>

        <p>I. El riesgo inherente a los datos personales tratados. </p>

        <div id="contenedor18" class="contenedor"></div>

        <p>II. La sensibilidad de los datos personales tratados. </p>

        <div id="contenedor19" class="contenedor"></div>

        <p>III. El desarrollo tecnológico. </p>

        <div id="contenedor20" class="contenedor"></div>

        <p>IV. Las posibles consecuencias de una vulneración para los titulares. </p>

        <div id="contenedor21" class="contenedor"></div>

        <p>V. Las transferencias de datos personales que se realicen. </p>

        <div id="contenedor22" class="contenedor"></div>

        <p>VI. El número de titulares. </p>

        <div id="contenedor23" class="contenedor"></div>

        <p>VII. Las vulneraciones previas ocurridas en los sistemas de tratamiento. </p>

        <div id="contenedor24" class="contenedor"></div>

        <p>VIII. Estar documentadas y contenidas en un sistema de gestión el cual se entenderá al conjunto de elementos
          y actividades interrelacionadas para establecer, implementar, operar, monitorear, revisar, mantener y mejorar
          el tratamiento y seguridad de los datos personales, de conformidad con lo previsto en la Ley y las demás
          disposiciones que le resulten aplicables en la materia. </p>

        <div id="contenedor25" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 8. Para establecer y mantener las medidas de seguridad para la protección de los datos personales,
          el responsable realiza, al menos, las siguientes actividades interrelacionadas. </h4>

        <p>I. Crea políticas internas para la gestión y tratamiento de los datos personales, que tomen en cuenta el
          contexto en el que ocurren los tratamientos y el ciclo de vida de los datos personales, es decir, su
          obtención, uso y posterior supresión. </p>

        <div id="contenedor26" class="contenedor"></div>

        <p>II. Define las funciones y obligaciones del personal involucrado en el tratamiento de datos personales. </p>

        <div id="contenedor27" class="contenedor"></div>

        <p>III. Elabora un inventario de los datos personales y de las bases y/o sistemasde tratamiento. </p>

        <div id="contenedor28" class="contenedor"></div>

        <p>IV. Realiza un análisis de riesgo de los datos personales, considerando las amenazas y vulnerabilidades
          existentes para los datos personales y los recursos involucrados en su tratamiento, como pueden ser, de manera
          enunciativa más no limitativa, hardware, software, personal del responsable, entre otros. </p>

        <div id="contenedor29" class="contenedor"></div>

        <p>V. Realiza un análisis de brecha, comparando las medidas de seguridad existentes contra las faltantes en la
          organización del responsable. </p>

        <div id="contenedor30" class="contenedor"></div>

        <p>VI. Elabora un plan de trabajo para la implementación de las medidas de seguridad faltantes, así como las
          medidas para el cumplimiento cotidiano de las políticas de gestión y tratamiento de los datos personales. </p>

        <div id="contenedor31" class="contenedor"></div>

        <p>VII. Monitorea y revisa de manera periódica las medidas de seguridad implementadas, así como las amenazas y
          vulneraciones a las que están sujetos los datos personales. </p>

        <div id="contenedor32" class="contenedor"></div>

        <p>VIII. Diseña y aplica diferentes niveles de capacitación de su personal, dependiendo de sus roles y
          responsabilidades respecto del tratamiento de los datos personales. </p>

        <div id="contenedor33" class="contenedor"></div>

        <br><br>
        <h4>Pregunta 9. Las políticas internas para la gestión y tratamiento de los datos personales establecidas por el
          responsable incluyen en su diseño e implementación, al menos, lo siguiente: </h4>

        <p>I. Los controles para garantizar que se valida la confidencialidad, integridad y disponibilidad de los datos
          personales. </p>

        <div id="contenedor34" class="contenedor"></div>

        <p>II. Las acciones para restaurar la disponibilidad y el acceso a los datos personales de manera oportuna en
          caso de un incidente físico o técnico. </p>

        <div id="contenedor35" class="contenedor"></div>

        <p>III. Las medidas correctivas en caso de identificar una vulneración o incidente en los tratamientos de datos
          personales. </p>

        <div id="contenedor36" class="contenedor"></div>

        <p>IV. El proceso para evaluar periódicamente las políticas, procedimientos y planes de seguridad establecidos,
          a efecto de mantener su eficacia. </p>

        <div id="contenedor37" class="contenedor"></div>

        <p>V. Los controles para garantizar que únicamente el personal autorizado podrá tener acceso a los datos
          personales para los finalidades concretas, lícitas, explícitas y legítimas que originaron su tratamiento. </p>

        <div id="contenedor38" class="contenedor"></div>

        <p>VI. Las medidas preventivas para proteger los datos personales contra su destrucción accidental o ilícita, su
          pérdida o alteración y el almacenamiento, tratamiento, acceso o transferencias no autorizadas o acciones que
          contravengan las disposiciones de la Ley y demás que resulten aplicables.</p>

        <div id="contenedor39" class="contenedor"></div>

        <br>

        <div class="buttons">
        <button type="button" id="saveAndExitButton" class="bt_exit">Guardar y salir</button>
        <button type="button" id="saveAndContinueButton" class="bt_continue">Guardar y continuar</button>
        </div>

      </form>


      <script src="/js/eval1.js"></script>
      <script src="/js/questions.js"></script>



    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
