<!-- glossary.html: Muestra los terminos para entender la evaluación y la plataforma en general  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/regulations.css" rel="stylesheet"/>
  <title>Glosario</title>
  <meta charset="UTF-8">
</head>

<body>

<header>
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" class="logo_header">
    <h1 class="main-title_header">Plataforma de evaluación para medir el grado de madurez<br> en materia de datos
      personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html">Inicio</a></li>
      <li><a href="profile.html">
        <button class="bt_nav">Perfil</button>
      </a></li>
    </ul>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">
    <div class="txt_welcome">
      <h2 class="h2_welcome">Glosario</h2>
      <h3>Glosario de terminos utilizados en la evaluación</h3>
      <br>
      <h4>Datos personales:</h4>
      <p> Cualquier información concerniente a una persona física identificada o identificable expresada en forma
        numérica, alfabética, alfanumérica, gráfica, fotográfica, acústica o en cualquier otro formato. Se considera que
        una persona es identificable cuando su identidad puede determinarse directa o indirectamente a través de
        cualquier información, siempre y cuando esto no requiera plazos, medios o actividades desproporcionadas.</p>
      <h4>Datos personales sensibles:</h4>
      <p> Aquellos que se refieren a la esfera más íntima de su titular, o cuya utilización indebida pueda dar origen a
        discriminación o conlleve un riesgo grave para éste. Se consideran sensibles, de manera enunciativa más no
        limitativa, los datos personales que puedan revelar aspectos como origen racial o étnico, estado de salud
        pasado, presente o futuro, creencias religiosas, filosóficas y morales, opiniones políticas, datos genéticos,
        datos biométricos y preferencia sexual.</p>
      <h4>Encargado:</h4>
      <p> Prestador de servicios, que con el carácter de persona física o jurídica pública o privada, ajena a la
        organización del responsable, trata datos personales a nombre y por cuenta de éste.</p>
      <h4>ITAIH:</h4>
      <p> Instituto de Transparencia, Acceso a la Información Pública Gubernamental y Protección de Datos Personales del
        Estado de Hidalgo.</p>
      <h4>Ley:</h4>
      <p> Ley de Protección de Datos Personales en Posesión de Sujetos Obligados para el Estado de Hidalgo.</p>
      <h4>Medidas de seguridad:</h4>
      <p> Conjunto de acciones, actividades, controles o mecanismos administrativos, técnicos y físicos que permiten
        garantizar la protección, confidencialidad, disponibilidad e integridad de los datos personales.</p>
      <h4>Responsable:</h4>
      <p> Los sujetos obligados a que se refiere el artículo 4 de la presente Ley que deciden sobre el tratamiento de
        datos personales.</p>
      <h4>Sistema de gestión:</h4>
      <p> Se entenderá por sistema de gestión, al conjunto de elementos y actividades interrelacionadas para establecer,
        implementar, operar, monitorear, revisar, mantener y mejorar el tratamiento y seguridad de los datos personales,
        de conformidad con lo previsto en la presente Ley y las demás disposiciones que le resulten aplicables en la
        materia.</p>
      <h4>Titular:</h4>
      <p> La persona física a quien corresponden los datos personales.</p>
      <h4>Transferencia:</h4>
      <p> Toda comunicación de datos personales dentro o fuera del territorio mexicano, realizada a persona distinta del
        titular, del responsable o del encargado.</p>
      <h4>Tratamiento:</h4>
      <p> Cualquier operación o conjunto de operaciones efectuadas mediante procedimientos físicos o automatizados
        aplicados a los datos personales, relacionadas, de manera enunciativa más no limitativa, con la obtención, uso,
        registro, organización, conservación, elaboración, utilización, estructuración, adaptación, modificación,
        extracción, consulta, comunicación, difusión, almacenamiento, posesión, acceso, manejo, aprovechamiento,
        transferencia y en general cualquier uso o disposición de datos personales.</p>
      <br>

    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
