<!-- home.html: Página de inicio   -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/home.css" rel="stylesheet"/>
  <title>Inicio</title>
  <meta charset="UTF-8">
  <script src="/js/get_profile.js" defer></script>

</head>

<body>


<!-- Header  -->

<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="#">Inicio</a></li>
      <li><a href="#cards">Normativas</a></li>
      <li><a href="#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<!-- Main  -->
<main class="main-content">

  <!-- Welcome Section -->
  <section id="welcome" class="section welcome-section">
    <div class="text-welcome">
      <h2 id="welcome-title">Bienvenido</h2>
      <br>
      <h3><span id="nombre-completo">usuario</span></h3>
      <br>
      <p>En la era digital actual, la protección de los datos personales es más crucial que nunca. El ITAIH es su aliado
        en el cumplimiento de las normativas de protección de datos. Nuestra plataforma ofrece una evaluación integral
        diseñada para ayudar a los sujetos obligados a verificar y mejorar su cumplimiento con las regulaciones de
        protección de datos personales, como la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados
        para el Estado de Hidalgo. <br><br>
        A través de una serie de preguntas detalladas y específicas, el ITAIH analiza sus prácticas actuales y le
        proporciona un informe exhaustivo sobre su nivel de conformidad. Nuestro objetivo es facilitarle la
        identificación de áreas de mejora y ofrecerle orientación para implementar las mejores prácticas en protección
        de datos.
      </p>

      <div class="button-container">
        <a href="about_us.html" class="response-button">Acerca del ITAIH</a>
      </div>

    </div>
    <div class="img-welcome">
      <img src="/images/img2.jpeg" alt="Imagen de ejemplo" id="example-image">
    </div>
  </section>

  <!-- Cards Section -->
  <section id="cards" class="section cards">
    <h2 class="section-title">Marco Conceptual y Normativo</h2>
    <div class="cards-container">
      <div class="card">
        <h3 class="card-title">Normatividad</h3>
        <p class="card-description">Consulta las normas sobres las cuales se basa esta evaluación.</p>
        <a href="regulations.html" class="card-link">Acceder</a>
      </div>
      <div class="card">
        <h3 class="card-title">Glosario</h3>
        <p class="card-description">En esta sección podrás encontrar un glosario con toda la terminología usada...</p>
        <a href="glossary.html" class="card-link">Acceder</a>
      </div>
      <div class="card">
        <h3 class="card-title">Objetivos</h3>
        <p class="card-description">En esta sección podrás encontrar los objetivos que impulsan esta evaluación.</p>
        <a href="Objective.html" class="card-link">Acceder</a>
      </div>
    </div>
  </section>

  <!-- Eval Cards Section -->
  <section id="evaluation" class="section evaluation-cards">
    <h2 class="section-title">Evaluación</h2>
    <div class="cards-container">
      <div class="card">
        <h3 class="card-title">Instructivo</h3>
        <p class="card-description">Aprende a usar al máximo esta plataforma.</p>
        <a href="regulations.html" class="card-link">Acceder</a>
      </div>
      <a href="selection.html" class="large-card large-card1">
        <h3 class="card-title">Evaluación nueva</h3>
        <p class="card-description">En esta sección podrás crear una nueva evaluación.</p>
      </a>
      <a href="selection2.html" class="large-card large-card2">
        <h3 class="card-title">Evaluación existente</h3>
        <p class="card-description">En esta sección podrás continuar una evaluación ya existente.</p>
      </a>
      <div class="card">
        <h3 class="card-title">Resultados</h3>
        <p class="card-description">Consulta los reportes de las evaluaciones completadas.</p>
        <a href="results.html" class="card-link">Acceder</a>
      </div>
    </div>
  </section>

</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Youtube</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1" target="_blank">Terminos y condiciones</a></li>
      <li><a href="#enlace2" target="_blank">Aviso de Privacidad</a></li>
      <li><a href="#enlace3" target="_blank">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

<script src="/js/nav-home.js"></script>


</body>

</html>
