<!-- Objetive.html: Muestra los objetivos que busca la evaluación y el proyecto en general  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/regulations.css" rel="stylesheet"/>
  <title>Objetivos</title>
  <meta charset="UTF-8">
</head>

<body>

<header>
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" class="logo_header">
    <h1 class="main-title_header">Plataforma de evaluación para medir el grado de madurez<br> en materia de datos
      personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html">Inicio</a></li>
      <li><a href="profile.html">
        <button class="bt_nav">Perfil</button>
      </a></li>
    </ul>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">
    <div class="txt_welcome">
      <h2 class="h2_welcome">Objetivos</h2>
      <h3>Objetivos de la evaluación</h3>
      <br>
      <p>I. Garantizar la observancia de los principios de protección de datos personales en posesión de los sujetos
        obligados, previstos en la Ley y demás disposiciones que resulten aplicables en la materia.</p>
      <p>II. Establecer obligaciones, procedimientos y condiciones homogéneas que regirán el tratamiento de los datos
        personales y el ejercicio de los derechos de acceso, rectificación, cancelación y oposición, mediante
        procedimientos sencillos y expeditos.</p>
      <p>III. Proteger los datos personales en posesión de los sujetos obligados a los que se refiere la Ley, con la
        finalidad de regular su debido tratamiento.</p>
      <p>IV. Promover la adopción de medidas de seguridad que garanticen, la integridad, disponibilidad y
        confidencialidad de los datos personales en posesión de los sujetos obligados, estableciendo los mecanismos para
        asegurar su cumplimiento.</p>
      <p>V. Contribuir a la mejora de procedimientos y mecanismos que permitan la protección de los datos personales en
        posesión de los sujetos obligados.</p>
      <p>VI. Promover, fomentar y difundir una cultura de protección de datos personales en el Estado de Hidalgo y sus
        Municipios.</p>
      <p>VII. Establecer la competencia del Instituto de Transparencia, Acceso a la Información Pública Gubernamental y
        Protección de Datos Personales del Estado de Hidalgo y los Municipios en materia de protección de datos
        personales.</p>
      <p>VIII. Fijar los estándares y parámetros que permitan la implementación, mantenimiento y actualización de las
        medidas de seguridad de carácter, administrativo, técnico y físico que permitan la protección de los datos
        personales.</p>

      <br>

    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Instagram</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
