<!-- profile.html: Muestra la información del usuario que ingresó  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/profile.css" rel="stylesheet"/>
  <title>Perfil</title>
  <meta charset="UTF-8">
  <script src="/js/get_profile.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/graph_profile.js"></script>
</head>

<body>

<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html#">Inicio</a></li>
      <li><a href="home.html#cards">Normativas</a></li>
      <li><a href="home.html#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<main class="main">

  <section class="profile-section">
    <div class="profile-image-container">
      <img src="/images/user_default.png" alt="Foto de perfil" class="profile-image">
    </div>
    <div class="profile-info">
      <h2 id="nombre-completo">Nombre completo del usuario</h2>
      <p><strong>Nombre de usuario:</strong> <span id="nombre-usuario">usuario123</span></p>
      <p><strong>Dirección:</strong> <span id="direccion-usuario">Calle Falsa 123, Ciudad, País</span></p>
      <p><strong>Email:</strong> <span id="email-usuario">usuario@example.com</span></p>
    </div>
  </section>

  <section class="grafica-section">
    <h2>Resumen de Actividad</h2>
    <div id="grafica-contenedor">
      <div id="grafica-progreso-container">
        <canvas id="grafica-progreso"></canvas>
      </div>
    </div>
  </section>

</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Instagram</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
