<!-- regulations.html: Muestra los articulos que se utilizaron de la Ley de Protección de Datos Personales en
Posesión de Sujetos Obligados para el Estado de Hidalgo.  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/regulations.css" rel="stylesheet"/>
  <title>Normatividad</title>
  <meta charset="UTF-8">
</head>

<body>

<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="home.html#">Inicio</a></li>
      <li><a href="home.html#cards">Normativas</a></li>
      <li><a href="home.html#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<main class="main">

  <section class="welcome_section">
    <div class="txt_welcome">
      <h2 class="h2_welcome">Normatividad</h2>
      <h3>Ley de Protección de Datos Personales en Posesión de Sujetos Obligados para el Estado de Hidalgo.</h3>
      <br>
      <h4>Artículo 1:</h4>
      <p> La presente Ley es de orden público y observancia obligatoria en el Estado de Hidalgo y sus municipios y tiene
        por objeto establecer las bases, principios y procedimientos para garantizar el derecho que tiene toda persona a
        la protección de sus datos personales, en posesión de los sujetos obligados, en el Estado de Hidalgo.</p>
      <h4>Artículo 4:</h4>
      <p> Son sujetos obligados a cumplir con las disposiciones de la presente Ley cualquier autoridad, dependencia,
        entidad, órgano y organismos de los Poderes Ejecutivo, Legislativo y Judicial, ayuntamientos, órganos y
        organismos autónomos, fideicomisos y fondos públicos y partidos políticos del orden estatal y municipal del
        Estado de Hidalgo, que lleven a cabo tratamiento de datos personales.</p>
      <h4>Artículo 12:</h4>
      <p> En todo tratamiento de datos personales que efectúe el responsable deberá observar los principios de licitud,
        finalidad, lealtad, consentimiento, calidad, proporcionalidad, información y responsabilidad.</p>
      <h4>Artículo 13:</h4>
      <p> El responsable deberá tratar los datos personales en su posesión con estricto apego y cumplimiento de lo
        dispuesto por la presente Ley, la legislación mexicana que resulte aplicable y, en su caso, el derecho
        internacional, respetando los derechos y libertades del titular.</p>
      <h4>Artículo 45:</h4>
      <p> El responsable deberá implementar los mecanismos necesarios para acreditar el cumplimiento de los principios,
        deberes y obligaciones establecidas en la presente Ley, así como para rendir cuentas al titular y al Instituto
        sobre los tratamientos de datos personales que efectúe, para lo cual podrá valerse de estándares, mejores
        prácticas nacionales o internacionales o de cualquier otro mecanismo que determine adecuado para tales fines. Lo
        anterior, aplicará aun cuando los datos personales sean tratados por parte de un encargado, así como al momento
        de realizar transferencias de datos personales.</p>
      <h4>Artículo 62:</h4>
      <p> El Instituto podrá publicar directrices, recomendaciones y mejores prácticas en materia de seguridad de los
        datos personales, de acuerdo con los estándares nacionales e internacionales actuales en la materia.</p>
      <h4>Artículo 103:</h4>
      <p> Para el cumplimiento de las obligaciones previstas en la presente Ley, el responsable podrá desarrollar o
        adoptar, en lo individual o en acuerdo con otros responsables, encargados u organizaciones, esquemas de mejores
        prácticas que tengan por objeto: <br>I. Elevar el nivel de protección de los datos personales; <br>II. Armonizar
        el tratamiento de datos personales en materias específicas; <br>III. Facilitar el ejercicio de los derechos ARCO
        a los titulares; <br>IV. Facilitar las transferencias de datos personales; <br>V. Complementar las disposiciones
        previstas en la presente Ley y demás normatividad que resulte aplicable en la materia; <br>VI. Demostrar ante el
        Instituto el cumplimiento de la presente Ley y demás normatividad que resulte aplicable en la materia.</p>
      <br>

    </div>

  </section>


</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Instagram</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
