<!-- report-graphs.html: Página que genera los resultados en graficas de barras  -->

<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Maax+Rounded&display=swap" rel="stylesheet"/>
  <link href="/css/report.css" rel="stylesheet"/>
  <title>Report</title>
  <meta charset="UTF-8">
  <script src="/js/get_info.js"></script>
  <script src="/js/get_username.js" defer></script>
</head>

<body>

<header class="header">
  <div class="logo-title_section">
    <img src="/images/logo.png" alt="Logo de la Institución" id="logo_header">
    <h1 id="main-title_header">Sistema de gestión para la protección de datos personales para sujetos obligados</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="#">Inicio</a></li>
      <li><a href="#cards">Normativas</a></li>
      <li><a href="#evaluation">Evaluación</a></li>
      <li><a href="profile.html">
        <button id="bt_nav">Perfil</button>
      </a></li>
      <li><a id="logoutButton"><img src="/images/signout.png" id="img_nav"></a></li>
    </ul>
    <script src="/js/logout.js"></script>
  </nav>
</header>

<main class="main">
  <h2>Reporte de la Evaluación para Medir el Grado de Madurez en el Sistema de Gestión en Materia Protección de Datos
    Personales en Posesión de Sujetos Obligados</h2>
  <br>

  <p>Institución: <span id="usuario-nombre">nombre</span> </p>
  <p>Tratamiento: <span id="tratamiento">tratamiento</span></p>
  <p>Area: <span id="area">area</span></p>
  <p>Fecha: <span id="fecha">fecha</span></p>
  <br>


  <h3>Sección 1: Medidas de seguridad</h3>
  <br><br>

  <h4>Pregunta 1. Se cuenta con medidas de seguridad físicas adoptadas por el responsable para la protección de
    datos personales en su tratamiento.
    Medidas de seguridad físicas: Conjunto de acciones y mecanismos para proteger el entorno físico de los datos
    personales y de los recursos involucrados en su tratamiento. </h4>

  <p>I. Enlista las medidas de seguridad adoptadas por el responsable de carácter físico para la protección de los
    datos personales, que permitan protegerlos contra daño, pérdida, alteración, destrucción o su uso, acceso o
    tratamiento no autorizado, así como garantizar su confidencialidad, integridad y disponibilidad.</p>

  <div id="table-container1"></div>

  <br><br>
  <h4>Pregunta 2. El responsable en las medidas de seguridad físicas considera los siguientes aspectos: </h4>

  <p>I. Acciones y mecanismos para proteger el entorno físico de los datos personales y de los recursos
    involucrados en su tratamiento.</p>

  <div id="table-container2"></div>

  <p>II. Prevenir el acceso no autorizado al perímetro de la organización del responsable, sus instalaciones
    físicas, áreas críticas, recursos y datos personales.</p>

  <div id="table-container3"></div>

  <p>III. Prevenir el daño o interferencia a las instalaciones físicas, áreas críticas de la organización del
    responsable, recursos y datos personales.</p>

  <div id="table-container4"></div>

  <p>IV. Proteger los recursos móviles, portátiles y cualquier soporte físico o electrónico que pudiera salir de
    la organización del responsable.</p>

  <div id="table-container5"></div>

  <p>V. Proveer a los equipos que contienen o almacenan datos personales de un mantenimiento eficaz, que asegure
    su disponibilidad e integridad.</p>

  <div id="table-container6"></div>

  <br><br>
  <h4>Pregunta 3. Se cuenta con medidas de seguridad técnicas adoptadas por el responsable para la protección de
    datos personales en su tratamiento. Medidas de seguridad técnicas: Conjunto de acciones y mecanismos que se
    valen de la tecnología relacionada con equipos y sistemas informáticos para proteger el entorno digital de los
    datos personales y los recursos involucrados en su tratamiento.</h4>

  <p>I. Enlista las medidas de seguridad adoptadas por el responsable de carácter técnico para la protección de
    los datos personales, que permitan protegerlos contra daño, pérdida, alteración, destrucción o su uso, acceso
    o tratamiento no autorizado, así como garantizar su confidencialidad, integridad y disponibilidad. </p>

  <div id="table-container7"></div>

  <br><br>
  <h4>Pregunta 4. El responsable en las medidas de seguridad técnicas considera los siguientes aspectos: </h4>

  <p>I. Acciones y mecanismos que se valen de la tecnología relacionada con equipos y sistemas informáticos para
    proteger el entorno digital de los datos personales y los recursos involucrados en su tratamiento. </p>

  <div id="table-container8"></div>

  <p>II. Garantizar que el acceso a los datos personales, así como a los recursos, sea por usuarios identificados
    y autorizados. </p>

  <div id="table-container9"></div>

  <p>III. Generar un esquema de privilegios, para que el usuario lleve a cabo las actividades que requiere con
    motivo de sus funciones. </p>

  <div id="table-container10"></div>

  <p>IV. Revisar la configuración de seguridad en la adquisición, operación, desarrollo y mantenimiento de los
    equipos y sistemas informáticos. </p>

  <div id="table-container11"></div>

  <p>V. Gestionar las comunicaciones, operaciones y medios de almacenamiento de los recursos informáticos en el
    tratamiento de datos personales. </p>

  <div id="table-container12"></div>

  <br><br>
  <h4>Pregunta 5. Se cuenta con medidas de seguridad administrativas adoptadas por el responsable para la
    protección de datos personales en su tratamiento.
    Medidas de seguridad administrativas: Políticas y procedimientos para la gestión, soporte y revisión de la
    seguridad de los datos personales a nivel organizacional, la identificación, clasificación y borrado seguro de
    los datos personales, así como la sensibilización y capacitación del personal en materia de protección de
    datos personales. </h4>

  <p>I. Enlista las medidas de seguridad adoptadas por el responsable de carácter administrativo para la
    protección de los datos personales, que permitan protegerlos contra daño, pérdida, alteración, destrucción o
    su uso, acceso o tratamiento no autorizado, así como garantizar su confidencialidad, integridad y
    disponibilidad. </p>

  <div id="table-container13"></div>

  <br><br>
  <h4>Pregunta 6. El responsable en las medidas de seguridad administrativas considera los siguientes
    aspectos: </h4>

  <p>I. Políticas y procedimientos para la gestión. </p>

  <div id="table-container14"></div>

  <p>II. Soporte y revisión de la seguridad de los datos personales a nivel organizacional. </p>

  <div id="table-container15"></div>

  <p>III. La identificación, clasificación y borrado seguro de los datos personales. </p>

  <div id="table-container16"></div>

  <p>IV. La sensibilización y capacitación del personal en materia de protección de datos personales. </p>

  <div id="table-container17"></div>

  <br><br>
  <h4>Pregunta 7. Las medidas de seguridad físicas, técnicas y administrativas adoptadas por el responsable
    consideran los siguientes aspectos: </h4>

  <p>I. El riesgo inherente a los datos personales tratados. </p>

  <div id="table-container18"></div>

  <p>II. La sensibilidad de los datos personales tratados. </p>

  <div id="table-container19"></div>

  <p>III. El desarrollo tecnológico. </p>

  <div id="table-container20"></div>

  <p>IV. Las posibles consecuencias de una vulneración para los titulares. </p>

  <div id="table-container21"></div>

  <p>V. Las transferencias de datos personales que se realicen. </p>

  <div id="table-container22"></div>

  <p>VI. El número de titulares. </p>

  <div id="table-container23"></div>

  <p>VII. Las vulneraciones previas ocurridas en los sistemas de tratamiento. </p>

  <div id="table-container24"></div>

  <p>VIII. Estar documentadas y contenidas en un sistema de gestión el cual se entenderá al conjunto de elementos
    y actividades interrelacionadas para establecer, implementar, operar, monitorear, revisar, mantener y mejorar
    el tratamiento y seguridad de los datos personales, de conformidad con lo previsto en la Ley y las demás
    disposiciones que le resulten aplicables en la materia. </p>

  <div id="table-container25"></div>

  <br><br>
  <h4>Pregunta 8. Para establecer y mantener las medidas de seguridad para la protección de los datos personales,
    el responsable realiza, al menos, las siguientes actividades interrelacionadas. </h4>

  <p>I. Crea políticas internas para la gestión y tratamiento de los datos personales, que tomen en cuenta el
    contexto en el que ocurren los tratamientos y el ciclo de vida de los datos personales, es decir, su
    obtención, uso y posterior supresión. </p>

  <div id="table-container26"></div>

  <p>II. Define las funciones y obligaciones del personal involucrado en el tratamiento de datos personales. </p>

  <div id="table-container27"></div>

  <p>III. Elabora un inventario de los datos personales y de las bases y/o sistemasde tratamiento. </p>

  <div id="table-container28"></div>

  <p>IV. Realiza un análisis de riesgo de los datos personales, considerando las amenazas y vulnerabilidades
    existentes para los datos personales y los recursos involucrados en su tratamiento, como pueden ser, de manera
    enunciativa más no limitativa, hardware, software, personal del responsable, entre otros. </p>

  <div id="table-container29"></div>

  <p>V. Realiza un análisis de brecha, comparando las medidas de seguridad existentes contra las faltantes en la
    organización del responsable. </p>

  <div id="table-container30"></div>

  <p>VI. Elabora un plan de trabajo para la implementación de las medidas de seguridad faltantes, así como las
    medidas para el cumplimiento cotidiano de las políticas de gestión y tratamiento de los datos personales. </p>

  <div id="table-container31"></div>

  <p>VII. Monitorea y revisa de manera periódica las medidas de seguridad implementadas, así como las amenazas y
    vulneraciones a las que están sujetos los datos personales. </p>

  <div id="table-container32"></div>

  <p>VIII. Diseña y aplica diferentes niveles de capacitación de su personal, dependiendo de sus roles y
    responsabilidades respecto del tratamiento de los datos personales. </p>

  <div id="table-container33"></div>

  <br><br>
  <h4>Pregunta 9. Las políticas internas para la gestión y tratamiento de los datos personales establecidas por el
    responsable incluyen en su diseño e implementación, al menos, lo siguiente: </h4>

  <p>I. Los controles para garantizar que se valida la confidencialidad, integridad y disponibilidad de los datos
    personales. </p>

  <div id="table-container34"></div>

  <p>II. Las acciones para restaurar la disponibilidad y el acceso a los datos personales de manera oportuna en
    caso de un incidente físico o técnico. </p>

  <div id="table-container35"></div>

  <p>III. Las medidas correctivas en caso de identificar una vulneración o incidente en los tratamientos de datos
    personales. </p>

  <div id="table-container36"></div>

  <p>IV. El proceso para evaluar periódicamente las políticas, procedimientos y planes de seguridad establecidos,
    a efecto de mantener su eficacia. </p>

  <div id="table-container37"></div>

  <p>V. Los controles para garantizar que únicamente el personal autorizado podrá tener acceso a los datos
    personales para los finalidades concretas, lícitas, explícitas y legítimas que originaron su tratamiento. </p>

  <div id="table-container38"></div>

  <p>VI. Las medidas preventivas para proteger los datos personales contra su destrucción accidental o ilícita, su
    pérdida o alteración y el almacenamiento, tratamiento, acceso o transferencias no autorizadas o acciones que
    contravengan las disposiciones de la Ley y demás que resulten aplicables.</p>

  <div id="table-container39"></div>

  <br><br>
  <h3>Sección 2: Documento de Seguridad</h3>
  <br><br>

  <h4>Pregunta 10. El responsable cuenta con un documento que contenga las medidas de seguridad de carácter
    físico, técnico y administrativo conforme a lo dispuesto en la Ley y demás disposiciones que resulten
    aplicables en la materia y contiene al menos lo siguiente:</h4>

  <p>I. El nombre de los sistemas de tratamiento o base de datos personales.</p>

  <div id="table-container40"></div>

  <p>II. El nombre, cargo y adscripción del administrador de cada sistema de tratamiento y/o base de datos
    personales.</p>

  <div id="table-container41"></div>

  <p>III. Las funciones y obligaciones del responsable, encargados y todas las personas que traten datos
    personales.</p>

  <div id="table-container42"></div>

  <p>IV. El inventario de los datos personales tratados en cada sistema de tratamiento y/o base de datos
    personales.</p>

  <div id="table-container43"></div>

  <p>V. La estructura y descripción de los sistemas de tratamiento y/o bases de datos personales, señalando el
    tipo de soporte y las características del lugar donde se resguardan.</p>

  <div id="table-container44"></div>

  <p>VI. Los controles y mecanismos de seguridad para las transferencias que, en su caso, se efectúen.</p>

  <div id="table-container45"></div>

  <p>VII. El resguardo de los soportes físicos y/o electrónicos de los datos personales.</p>

  <div id="table-container46"></div>

  <p>VIII. Las bitácoras de acceso, operación cotidiana y vulneraciones a la seguridad de los datos
    personales.</p>

  <div id="table-container47"></div>

  <p>IX. El análisis de riesgos.</p>

  <div id="table-container48"></div>

  <p>X. El análisis de brecha.</p>

  <div id="table-container49"></div>

  <p>XI. La gestión de vulneraciones.</p>

  <div id="table-container50"></div>

  <p>XII. Las medidas de seguridad físicas aplicadas a las instalaciones.</p>

  <div id="table-container51"></div>

  <p>XIII. Los controles de identificación y autenticación de usuarios.</p>

  <div id="table-container52"></div>

  <p>XIV. Los procedimientos de respaldo y recuperación de datos personales.</p>

  <div id="table-container53"></div>

  <p>XIII. Los controles de identificación y autenticación de usuarios.</p>

  <div id="table-container54"></div>

  <p>XIV. Los procedimientos de respaldo y recuperación de datos personales.</p>

  <div id="table-container55"></div>

  <p>XV. El plan de contingencia.</p>

  <div id="table-container56"></div>

  <p>XVI. Las técnicas utilizadas para la supresión y borrado seguro de los datos personales.</p>

  <div id="table-container57"></div>

  <p>XVII. El plan de trabajo.</p>

  <div id="table-container58"></div>

  <p>XVIII. Los mecanismos de monitoreo y revisión de las medidas de seguridad.</p>

  <div id="table-container59"></div>

  <p>XIX. El programa general de capacitación.</p>

  <div id="table-container60"></div>

  <p>XX. Formalmente establecido y es de observancia obligatoria para los encargados y demás personas que realizan
    algún tipo de tratamiento de datos personales.</p>

  <div id="table-container61"></div>

  <br><br>
  <h3>Sección 3: Vulneraciones de Seguridad</h3>
  <br><br>

  <h4>Pregunta 12. En cualquier fase del tratamiento de datos personales se realizan acciones correctivas o se
    cuenta con protocolos de actuación cuando se vulnera la seguridad de ellos en los siguientes casos:</h4>

  <p>I. La pérdida o destrucción no autorizada.</p>

  <div id="table-container62"></div>

  <p>II. El robo, extravío o copia no autorizada.</p>

  <div id="table-container63"></div>

  <p>III. El uso, acceso o tratamiento no autorizado.</p>

  <div id="table-container64"></div>

  <p>IV. El daño, la alteración o modificación no autorizada.</p>

  <div id="table-container65"></div>

  <br><br>
  <h4>Pregunta 13. El responsable cuenta con una bitácora de las vulneraciones a la seguridad ocurridas en la que
    se describa: (En caso de no contar con vulneración ocurridas deberá contar al menos con el formato)</h4>

  <p>I. La fecha en la que ocurrió.</p>

  <div id="table-container66"></div>

  <p>II. El motivo de la vulneración de seguridad.</p>

  <div id="table-container67"></div>

  <p>III. Las acciones correctivas implementadas de forma inmediata y definitiva.</p>

  <div id="table-container68"></div>

  <br><br>
  <h4>Pregunta 14. El responsable ha realizado las siguientes acciones sobre las vulneraciones de seguridad a la
    protección de datos personales que han ocurrido en la Institución que de forma significativa afecten los
    derechos patrimoniales o morales del titular o cuenta con un protocolo de actuación donde se especifiquen los
    siguientes:</h4>

  <p>I. Informar sin dilación alguna, al titular y al ITAIH las vulneraciones de seguridad ocurridas, en un plazo
    máximo de setenta y dos horas en cuanto se confirmen.</p>

  <div id="table-container69"></div>

  <p>II. Tomar las acciones encaminadas a detonar un proceso de revisión exhaustiva de la magnitud de la
    afectación, a fin de que los titulares afectados puedan tomar las medidas correspondientes para la defensa de
    sus derechos.</p>

  <div id="table-container70"></div>

  <p>III. Informar al titular y al ITAIH la naturaleza del incidente.</p>

  <div id="table-container71"></div>

  <p>IV. Informar al titular y al ITAIH, al menos, los datos personales comprometidos.</p>

  <div id="table-container72"></div>

  <p>V. Informar al titular y al ITAIH, al menos, las recomendaciones y medidas que el titular puede adoptar para
    proteger sus intereses.</p>

  <div id="table-container73"></div>

  <p>VI. Informar al titular y al ITAIH, al menos, las acciones correctivas realizadas de forma inmediata.</p>

  <div id="table-container74"></div>

  <p>VII. Informar al titular y al ITAIH, al menos, los medios donde puede obtener mayor información al
    respecto.</p>

  <div id="table-container75"></div>

  <p>VIII. Analizar las causas por las cuales se presentó e implemente en su plan de trabajo las acciones
    preventivas y correctivas para adecuar las medidas de seguridad y el tratamiento de los datos personales si
    fuese el caso, a efecto de evitar que la vulneración se repita.</p>

  <div id="table-container76"></div>

  <br><br>
  <h4>Pregunta 15. Se cuenta con controles o mecanismos de confidencialidad sobre el tratamiento de los datos
    personales donde se incluyan los siguientes supuestos:</h4>

  <p>I. El responsable establezca que todas aquellas personas que intervengan en cualquier fase del tratamiento de
    los datos personales, guarden confidencialidad respecto de éstos.</p>

  <div id="table-container77"></div>

  <p>II. El responsable establece que todas aquellas personas que intervinieron en cualquier fase del tratamiento
    de los datos personales, guarden confidencialidad después de finalizar sus relaciones con el mismo.</p>

  <div id="table-container78"></div>

  <br><br>
  <h3>Sección 4: Aviso de Privacidad</h3>
  <br><br>

  <h4>Pregunta 16. En el aviso de privacidad considera los siguientes aspectos: </h4>

  <p>I. La existencia y características principales del tratamiento al que serán sometidos sus datos
    personales.</p>

  <div id="table-container79"></div>

  <p>II. Informar al titular sobre los alcances y condiciones generales del tratamiento, a fin de que esté en
    posibilidad de tomar decisiones informadas sobre el uso de sus datos personales y, en consecuencia, mantener
    el control y disposición sobre ellos.</p>

  <div id="table-container80"></div>

  <p>III. Ser sencillo, con información necesaria, expresado en lenguaje claro y comprensible, y con una
    estructura y diseño que facilite su entendimiento.</p>

  <div id="table-container81"></div>

  <p>IV. Cuando el responsable pretende tratar los datos personales para una finalidad distinta, pone a su
    disposición un nuevo aviso de privacidad con las características del nuevo tratamiento previo al
    aprovechamiento de los datos personales para la finalidad respectiva.</p>

  <div id="table-container82"></div>

  <p>V. Valerse de formatos físicos, electrónicos, medios verbales o cualquier otra tecnología, para su difusión,
    siempre y cuando garantice y cumpla con el principio de información a que se refiere la Ley.</p>

  <div id="table-container83"></div>

  <p>VI. Cuando resulte imposible dar a conocer al titular el aviso de privacidad de manera directa o ello exija
    esfuerzos desproporcionados, el responsable instrumente medidas compensatorias de comunicación masiva.</p>

  <div id="table-container84"></div>

  <br><br>
  <h4>Pregunta 17. En el aviso de privacidad no se incluyen: </h4>

  <p>I. Frases inexactas, ambiguas o vagas.</p>

  <div id="table-container85"></div>

  <p>II. Textos o formatos que induzcan al titular a elegir una opción en específico.</p>

  <div id="table-container86"></div>

  <p>III. Marcar previamente casillas, en caso de que éstas se incluyan para que el titular otorgue su
    consentimiento.</p>

  <div id="table-container87"></div>

  <p>IV. Remitir a textos o documentos que no estén disponibles para el titular.</p>

  <div id="table-container88"></div>

  <br><br>
  <h4>Pregunta 18. El aviso simplificado contiene al menos la siguiente información:</h4>

  <p>I. La denominación del responsable.</p>

  <div id="table-container89"></div>

  <p>II. Las finalidades del tratamiento para las cuales se obtienen los datos personales, distinguiendo aquéllas
    que requieran el consentimiento del titular.</p>

  <div id="table-container90"></div>

  <p>III. Cuando se realicen transferencias de datos personales que requieran consentimiento, se informa a las
    autoridades, poderes, entidades, órganos y organismos gubernamentales de los tres órdenes de gobierno y las
    personas físicas o morales de carácter privado a las que se transfieren los datos personales.</p>

  <div id="table-container91"></div>

  <p>IV. Cuando se realicen transferencias de datos personales que requieran consentimiento se informen las
    finalidades de estas transferencias.</p>

  <div id="table-container92"></div>

  <p>V. Los mecanismos y medios disponibles para que el titular, en su caso, pueda manifestar su negativa para el
    tratamiento de sus datos personales para finalidades y transferencias de datos personales que requieren el
    consentimiento del titular.</p>

  <div id="table-container93"></div>

  <p>VI. El sitio donde se podrá consultar el aviso de privacidad integral.</p>

  <div id="table-container94"></div>

  <br><br>
  <h4>Pregunta 19. El responsable pone a disposición del titular el aviso de privacidad simplificado en los
    siguientes momentos: </h4>

  <p>I. Cuando los datos personales se obtienen de manera directa del titular previo a la obtención de los
    mismos.</p>

  <div id="table-container95"></div>

  <p>II. Cuando los datos personales se obtienen de manera indirecta del titular previo al uso o aprovechamiento
    de éstos.</p>

  <div id="table-container96"></div>

  <br><br>
  <h4>Pregunta 20. El aviso integral contiene al menos la siguiente información:</h4>

  <p>I. El domicilio del responsable.</p>

  <div id="table-container97"></div>

  <p>II. Los datos personales que serán sometidos a tratamiento, identificando aquéllos que sean sensibles.</p>

  <div id="table-container98"></div>

  <p>III. El fundamento legal que faculta expresamente al responsable para llevar a cabo el tratamiento de datos
    personales.</p>

  <div id="table-container99"></div>

  <p>IV. El fundamento legal que faculta expresamente al responsable para llevar a cabo las transferencias de
    datos personales que, en su caso, efectúe con autoridades, poderes, entidades, órganos y organismos
    gubernamentales de los tres órdenes de gobierno y las personas físicas o morales de carácter privado.</p>

  <div id="table-container100"></div>

  <p>V. Los mecanismos, medios y procedimientos disponibles para ejercer los derechos ARCO.</p>

  <div id="table-container101"></div>

  <p>VI. El domicilio de la Unidad de Transparencia.</p>

  <div id="table-container102"></div>

  <p>VII. Los medios a través de los cuales el responsable comunicará a los titulares los cambios al aviso de
    privacidad.</p>

  <div id="table-container103"></div>

  <br><br>
  <h3>Sección 5: Consentimiento Expreso</h3>
  <br><br>

  <h4>Pregunta 21. El responsable cuenta con un formato de consentimiento expreso del titular para el tratamiento
    de sus datos personales el cual se otorga de manera:</h4>

  <p>I. Libre: Sin que medie error, mala fe, violencia o dolo que puedan afectar la manifestación de la voluntad
    del titular.</p>

  <div id="table-container104"></div>

  <p>II. Específica: Referida a finalidades concretas, lícitas, explícitas y legítimas que justifiquen el
    tratamiento.</p>

  <div id="table-container105"></div>

  <p>III. Informada: Que el titular tenga conocimiento del aviso de privacidad, previo al tratamiento a que serán
    sometidos sus datos personales.</p>

  <div id="table-container106"></div>

  <p>IV. Fácil: Por un medio sencillo y gratuito a través del cual pueda manifestar su voluntad.</p>

  <div id="table-container107"></div>

  <p>V. Previa: Cuando los recabe directamente es decir cuando éste los proporcione personalmente o por algún
    medio que permita su entrega directa al responsable como son, de manera enunciativa más no limitativa, medios
    electrónicos, ópticos, sonoros, visuales, vía telefónica, Internet o cualquier otra tecnología o medio.</p>

  <div id="table-container108"></div>

  <p>VI. Inmediata: Cuando el responsable recabe datos personales indirectamente del titular y se requiera de su
    consentimiento conforme a la Ley, éste no podrá tratar los datos personales hasta que cuente con la
    manifestación de la voluntad libre, específica e informada del titular, mediante la cual autoriza el
    tratamiento de los mismos, ya sea tácita o expresa según corresponda.</p>

  <div id="table-container109"></div>

  <p>VII. Expreso y por escrito del Titular para el tratamiento de datos personales sensibles, salvo que actualice
    alguna de las causales de excepción previstas en la Ley.</p>

  <div id="table-container110"></div>

  <br><br>
  <h3>Sección 6: Mejora Continua y Supervisión</h3>
  <br><br>

  <h4>Pregunta 22. El responsable adopta al menos los siguientes mecanismos para cumplir con el principio de
    responsabilidad establecido en la Ley.</h4>

  <p>I. Destina recursos para la instrumentación de programas y políticas de protección de datos personales.</p>

  <div id="table-container111"></div>

  <p>II. Revisa periódicamente las políticas y programas de seguridad de datos personales para determinar las
    modificaciones que se requieran.</p>

  <div id="table-container112"></div>

  <p>III. Pone en práctica un programa de capacitación y actualización del personal sobre las obligaciones y demás
    deberes en materia de protección de datos personales.</p>

  <div id="table-container113"></div>

  <p>IV. Elabora políticas y programas de protección de datos personales obligatorios y exigibles al interior de
    la organización del responsable y las revisa cada dos años, así como se actualizan cuando al tratamiento de
    datos personales se le realizan modificaciones sustanciales.</p>

  <div id="table-container114"></div>

  <p>V. Establece un sistema de supervisión y vigilancia interna y/o externa, incluyendo auditorías, para
    comprobar el cumplimiento de las políticas de protección de datos personales y las revisa cada dos años y se
    actualiza cuando al tratamiento de datos personales se le realizan modificaciones sustanciales.</p>

  <div id="table-container115"></div>

  <p>VI. Establece procedimientos para recibir y responder dudas y quejas de los titulares.</p>

  <div id="table-container116"></div>

  <p>VII. Diseña, desarrolla e implementa sus políticas públicas, programas, servicios, sistemas o plataformas
    informáticas, aplicaciones electrónicas o cualquier otra tecnología que implique el tratamiento de datos
    personales, de conformidad con las disposiciones previstas en la Ley y las demás que resulten aplicables en la
    materia.</p>

  <div id="table-container117"></div>

  <p>VIII. Garantiza que sus políticas públicas, programas, servicios, sistemas o plataformas informáticas,
    aplicaciones electrónicas o cualquier otra tecnología que implique el tratamiento de datos personales, cumplan
    por defecto con las obligaciones previstas en la Ley y las demás que resulten aplicables en la materia.</p>

  <div id="table-container118"></div>

  <br><br>
  <h3>Sección 7: Portabilidad de los Datos Personales</h3>
  <br><br>

  <h4>Pregunta 23. El responsable garantiza al Titular su derecho de portabilidad de datos personales en los
    siguientes supuestos:</h4>

  <p>I. Cuando se traten datos personales por vía electrónica en un formato estructurado y comúnmente utilizado,
    el titular es informado de su derecho a obtener del responsable una copia de los datos personales objeto de
    tratamiento, en un formato electrónico estructurado y comúnmente utilizado, el cual le permita seguir
    utilizándolos, conforme a los plazos, términos y requerimientos conforme a la Ley.</p>

  <div id="table-container119"></div>

  <p>II. Cuando el titular haya facilitado los datos personales y el tratamiento se base en el consentimiento o en
    un contrato o relación jurídica, se le garantiza su derecho a transferir dichos datos personales y cualquier
    otra información que haya facilitado y que se conserve en un sistema de tratamiento automatizado a otro
    sistema, en un formato electrónico comúnmente utilizado, sin impedimentos por parte del responsable de quien
    se retiren los datos personales.</p>

  <div id="table-container120"></div>

  <br><br>
  <h3>Sección 8: Transferencias de Datos Personales</h3>
  <br><br>

  <h4>Pregunta 24. El responsable en las transferencias de datos personales garantiza al titular los siguientes
    supuestos:</h4>

  <p>I. Su consentimiento expreso en toda transferencia de datos personales, sea ésta nacional o internacional,
    salvo las excepciones previstas en Ley.</p>

  <div id="table-container121"></div>

  <p>II. Informarle en el aviso de privacidad sobre la transferencia de sus datos personales y se limita a las
    finalidades que las justifiquen.</p>

  <div id="table-container122"></div>

  <p>III. Se formalice toda transferencia mediante la suscripción de cláusulas contractuales, convenios de
    colaboración o cualquier otro instrumento jurídico, de conformidad con la normatividad que le resulte
    aplicable al responsable, que permita demostrar el alcance del tratamiento de los datos personales, así como
    las obligaciones y responsabilidades asumidas por las partes y se informa de sus excepciones.</p>

  <div id="table-container123"></div>

  <br><br>
  <h3>Sección 9: Oficial de Protección de Datos Personales</h3>
  <br><br>

  <h4>Pregunta 25. El oficial de protección de datos personales dentro del organismo cumple con los siguientes
    supuestos:</h4>

  <p>I. Cuenta con recursos suficientes para implementar políticas transversales en la materia.</p>

  <div id="table-container124"></div>

  <p>II. Se encuentra adscrito a la Unidad de Transparencia.</p>

  <div id="table-container125"></div>

  <p>III. Conocimientos, cualidades profesionales, experiencia mínima de cinco años en la materia, y, en su caso,
    certificaciones en materia de protección de datos personales.</p>

  <div id="table-container126"></div>

  <br><br>
  <h4>Pregunta 26. El oficial de protección de datos personales cumple con las siguientes atribuciones:</h4>

  <p>I. Asesora al Comité de Transparencia, respecto a los temas que sean sometidos a su consideración en materia de
    protección de datos personales.</p>

  <div id="table-container127"></div>

  <p>II. Propone al Comité de Transparencia políticas, programas, acciones y demás actividades que correspondan para el
    cumplimiento de la Ley y demás disposiciones que resulten aplicables en la materia.</p>

  <div id="table-container128"></div>

  <p>III. Ha implementado políticas, programas, acciones y demás actividades que correspondan para el cumplimiento de la
    Ley y demás disposiciones que resulten aplicables en la materia, previa autorización del Comité de Transparencia.</p>

  <div id="table-container129"></div>

  <p>IV. Asesora permanentemente a las áreas adscritas al responsable en materia de protección de datos personales.</p>

  <div id="table-container130"></div>

  <script src="/js/tables.js"></script>

  <div class="button-container">
    <a href="report-graphs.html" class="back-button">Regresar a Gráficas</a>
  </div>

</main>

<footer class="footer">
  <div class="footer-column">
    <h2 class="footer-title1">Instituto de Transparencia, Acceso a la Información Pública<br>
      Gubernamental y Protección de Datos Personales del Estado de Hidalgo</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/INSTITUTODETRANSPARENCIAHIDALGO/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/itaih_hidalgo" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCzk4MGq1CgvWdt-R8uB3G9A" target="_blank">Instagram</a></li>
    </ul>
  </div>
  <div class="footer-column2">
    <h2 class="footer-title2">@2024</h2>
    <ul class="footer-links">
      <li><a href="#enlace1">Terminos y condiciones</a></li>
      <li><a href="#enlace2">Aviso de Privacidad</a></li>
      <li><a href="#enlace3">Politica de Cookies</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
