
body {
  margin: 0;
  font-family: "Inter",sans-serif;
}

/* Header Section */

.header {
  position: fixed;
  width: 98%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #462a68;
  /* border-bottom: 1px solid #ddd; */
  z-index: 1000;
}

.logo-title_section{
  display: flex;
  align-items: center;
}

#logo_header {
  height: 100px;
  margin-right: 15px;
}

#main-title_header {
  font-size: 22px;
  font-weight: normal;
  color: whitesmoke;
  margin: 0;
  line-height: 1.5;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.nav-list a:hover {
  color: #6a2cac;
}

#img_nav{
  height: 50px;
}

#bt_nav{
  height: 52px;
  width: 89px;
  color: white;
  background-color: #368107;
  border-radius: 10px;
  font-size: 16px;
}

#bt_nav:hover{
  background-color: #533a6b;
}

/* Welcome Section */

main {
  margin-top: 100px;
  padding: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
}

/* Welcome Section */
.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 50px;
  background-color: white;
}


.text-welcome {
  flex: 1;
  padding: 0 50px 0 20px;
  line-height: 1.5;
  text-align: justify;
}

.img-welcome {
  flex: 1;
  padding: 50px;
}

#example-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Cards Section */
.cards {
  background-color: #f5f5f7;
  padding: 120px 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(50px);
}

.section-title {
  text-align: center;
  margin-bottom: 100px;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}




.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.card-link {
  align-self: flex-end;
  font-size: 16px;
  color: #fff;
  background-color: #533a6b;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}

.card-link:hover {
  background-color: #0056b3;
}

/* Evaluation Cards Section */
.evaluation-cards {
  background-color: white;
  padding: 120px 50px;
}

.large-card {
  width: 20%;
  text-align: center;
  padding: 40px 20px;
  margin-right: 15px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.large-card h3.card-title,
.large-card p.card-description {
  color: #fff;
}

.large-card1 {
  background-color: #6a2cac;
}

.large-card1:hover {
  background-color: #533a6b;
}

.large-card2 {
  background-color: #368107;
}

.large-card2:hover {
  background-color: #316c0b;
}

.large-card a {
  text-decoration: none;
  color: inherit;
}

.large-card1 a,
.large-card2 a {
  text-decoration: none;
  color: #fff;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

/* Footer Section */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
}

.footer-column {
  flex: 1;
  margin-left: 25px;
}

.footer-title1{
  font-size: 18px;
  margin-bottom: 50px;
}

.footer-title2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-links, .footer-links {
  list-style: none;
  padding: 0;
}

.social-links {
  display: flex;
  justify-content: flex-start;
}

.social-links li {
  margin-right: 15px;
}

.footer-column2 {
  text-align: left;
  margin-right: 80px;
}

.footer-links li {
  margin-bottom: 10px;
  font-size: 16px;
}

.social-links a, .footer-links a {
  text-decoration: none;
  color: black;
}

.social-links a:hover, .footer-links a:hover {
  color: #070793;
}
